.form {
  margin: 50px;
}
.name {
  margin: 5px;
}
.passsword {
  margin: 5px;
}
.link {
  text-decoration: none;
  color: black;
}
.btn {
  border: none;
  background-color: aqua;
  border-radius: 4px;
}
.data {
  margin: 5px;
}
.btn2 {
  border: none;
  background-color: rgb(255, 0, 234);
  border-radius: 4px;
  color: black;
}
